.nav-link{
    color: #003360;
    width: 154px;
    height: 47px;
    font-family: 'Microsoft New Tai Lue' !important;
    font-style: regular;
    font-weight: 0;
    font-size: 24px;
    line-height: 47px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    color:#003360 ;
    float: right;
    text-align: center;
}
.navbar {
    background-color: #ffffff !important;
    font-family: "Microsoft New Tai Lue", sans-serif;
    height: 150px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-bottom: 5px solid #85c529;
    display: flex;
    
}


.nav-link:hover{
    color: #ffffff !important;
    background-color: #003360;
    transition: 0.5s;
    
}
.dropdown-item{
    opacity: 85%;
    color: #ffffff;
    padding: 10px; /* Add some padding to center the text */
}
.dropdown-item:hover{
    transition: 0.5s;
    text-decoration: underline !important;
}

.dropdown-menu{
    opacity: 85%;
    background-color: #003355 ;
    padding-right: 40px;
}
#nav{
   justify-content: end;
    float: right;
}

.new-grid1-container{
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: 1fr ;
    grid-template-areas: 'img  text';
    margin: 40px;
    column-gap: 40px;
    align-items: center;
}
.expect{
    grid-area: img;
    border: #003355 5px solid;
    border-radius: 15px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.expect-border{
    grid-area: text;
    border-radius: 15px;
    border: #85c529 5px solid;
    height: 612px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    height: fit-content;
    position: relative;
}
.expect-border p{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
    display: flex;
    align-items: center;
    text-align: center;
    padding:5px;
}


h2{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-size: 54px;
    line-height: 84px;
    color: #003355
}
.center-h2{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
#expect-img{
    width: 100%;
    height: 100%;
}

.line{
    display: flex;
    height: 10px;
    background-color: #85c529;
    margin-left: 50px;
    margin-right: 50px;
}
.new-grid2-container{
    display: grid;
    grid-template-columns: 700px 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'img text';
    margin: 40px;
    column-gap: 40px;
    align-items: center;
}

.order{
    display: flex;
    justify-content: center;
}
.order ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.order ul li {
    background: url('All Pictures/Polygon 4.png') no-repeat left center;
    background-size: 22px;
    padding-left: 40px; /* adjust as needed depending on the image size */
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 80px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}


.contact-container {
    display: flex;
    justify-content: space-evenly;
  }
  
  .contact-form, .contact-info {
    width: 45%; /* Adjust this value for different widths of form and info sections */
    padding: 2em;
  }
  
  .contact-form {
    border-right: 10px solid #85c529; /* Adjust the color and thickness as needed */
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form label, .contact-form input, .contact-form textarea {
    margin-bottom: 1em;
  }
  
  .contact-form input, .contact-form textarea {
    padding: 0.5em;
    width: 100%;
  }
  
  .contact-form input[type="submit"] {
    cursor: pointer;
    background-color: #003355;
    color: #fff;
    border: none;
    padding: 1em;
    text-transform: uppercase;
    transition: .2s ease-in-out;
  }
  .contact-form input[type="submit"]:hover{
    background-color: #85c529;
  }
  .contact-info{
    margin-left: 20px;
  }

  .connect-text{
    text-align: center;
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 1.75em;
    line-height: 47px;
    color: #003355;
  }
  
  h6{
    font-family: 'Microsoft New Tai Lue';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    color: #003355;
  }
  .contact-info p{
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
  }

  .fc_icon{
    width: 165px;
    height: 165px;
    margin-left: 100px;
  }
  footer {
    background-color: #003360;
    font-family: Helvetica, sans-serif;
    color: #ffffff;
    border-top: #85c529 5px solid;  /* added padding to provide some spacing */
    line-height: 1;
}

.footercolumn {
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    padding-top:10px
}


.parentfootercolumn {
    display: grid;
    grid-template-columns: 160px 160px 160px 160px 160px 1fr;
    grid-template-rows: 140px 10px;
    justify-content: left;  /* changed to space-between to evenly distribute the columns */
    text-align: start;  /* changed from end to start */
    align-items: flex-start;
    gap: 20px;  /* added to provide some space between the columns */
}

#footerimg {
    padding: 10px;
    height: 140px;
    width: 140px;
    display: block;  /* changed from float to block */
    margin: 0 auto;  /* centers the image */
    align-self: center;
}
.footer-right p{
    text-align: right;
    margin-right: 20px;
}

.img-thumbnail{
    border: #85c529 solid 5px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 0%;
}

.footercolumn a {
    color: #FFFFFF;
    text-decoration-line: none;
    line-height: 0.4;
    
  }
  .footer-header{
    text-decoration: underline;
  }
